<div style="margin-left: 40px">
  <h3>Dash Board</h3>
</div>
<div class="col-sm-12" style="margin-top: 20px; margin-left: 40px">
  <div class="row">
    <div class="col-sm-3">
      <mat-card class="card">
        <mat-card-content>
          <div class="row">
            <div class="col-sm-12">
              <div class="col-sm-1">
              <i style="font-size: 80px; margin-top: 20px; margin-left: -35px" class="material-icons dashBoard-icon ng-binding">person</i>                
              </div>
              <div class="col-sm-1" style="font-size: 80px">|</div>
              <div class="col-sm-6">
                <div><h2>Vendors</h2></div>
              <span style="margin-bottom: -30px">Count:12</span>
              </div>      
             </div>
          </div>
        </mat-card-content>    
      </mat-card>
    </div>

    <div class="col-sm-3">
        <mat-card class="card">
          <mat-card-content>
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-1">
                <i style="font-size: 80px; margin-top: 20px; margin-left: -30px" class="material-icons dashBoard-icon ng-binding">local_grocery_store</i>                
                </div>
                <div class="col-sm-1" style="font-size: 80px; margin-left:10px">|</div>
                <div class="col-sm-6">
                  <div><h2>Stores</h2></div>
                <span style="margin-bottom: -30px">Count:12</span>
                </div>                                            
              </div>
            </div>
          </mat-card-content>    
        </mat-card>
      </div>

      <div class="col-sm-3">
          <mat-card class="card">
            <mat-card-content>
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-1">
                  <i style="font-size: 80px; margin-top: 20px; margin-left: -35px" class="material-icons dashBoard-icon ng-binding">local_mall</i>                
                  </div>
                  <div class="col-sm-1" style="font-size: 80px; margin-left: 5px">|</div>
                  <div class="col-sm-6">
                    <div><h2>Brands</h2></div>
                  <span style="margin-bottom: -30px">Count:12</span>
                  </div>            
                </div>
              </div>
            </mat-card-content>    
          </mat-card>
        </div>
    
        <div class="col-sm-3">
            <mat-card class="card">
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="col-sm-1">
                    <i style="font-size: 80px; margin-top: 20px; margin-left: -30px" class="material-icons dashBoard-icon ng-binding">card_giftcard</i>                
                    </div>
                    <div class="col-sm-1" style="font-size: 80px; margin-left: 13px">|</div>
                    <div class="col-sm-6">
                      <div><h2>Offers</h2></div>
                      <span style="margin-bottom: -30px">Count:12</span>
                    </div>              
                  </div>
                </div>
              </mat-card-content>    
            </mat-card>
          </div>
  </div>
</div>



