<div class="margin-10">
    <mat-card>
      <mat-card-header class="margin-10">
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <div class="row col-sm-12" style="padding:0">
          <div class="col-sm-12 align" style="padding:0;margin:0;">
            <!-- <div class="col-sm-12" style="padding:0;margin:0;background-color:   rgb(63, 81, 181);color:white; text-align: center"> -->
            <h2>Create Offer Form</h2>
          </div>
        </div>
        <!-- <button mat-button>SHARE</button> -->
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <!-- <mat-divider></mat-divider> -->
      <mat-card-content>
        <div class="row">
          <form class="example-form" [formGroup]="offerForm">
            <div class="col-sm-12">
              <div>
                <mat-form-field  class="col-sm-6" [hideRequiredMarker]=false [floatLabel]="'auto'">
                  <input matInput formControlName="offerTitle" placeholder="Enter offer name" required>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field  class="col-sm-6">
                  <input matInput formControlName="offerDesc" placeholder="Enter offer description" required>
                </mat-form-field>
              </div>
              <div formGroupName="offer_Valididty">
                  <mat-form-field class="col-sm-6"> 
                    <input matInput [matDatepicker]="picker1" placeholder="Enter Offer Start Date"
                           formControlName="fromTime">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field  class="col-sm-6"> 
                    <input matInput [matDatepicker]="picker2" placeholder="Enter Offer End Date"
                    formControlName="toTime">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
              </div>
            </div>
            <div class="col-sm-12">
              <div>
                <mat-form-field class="col-sm-12">
                  <mat-select placeholder="Select Category" formControlName="categoryId"  name="category" (change)="showCategory()" multiple required>
                    <mat-option *ngFor="let category of categories" [value]="category._id">{{category.displayName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
              <mat-radio-button style="margin-left:3px" class="example-radio-button" color="primary" (change)="singleStoreMultipleBrand()">
                Single Store Multi Brand Offer
              </mat-radio-button><br>
              <mat-radio-button style="margin-left:3px" class="example-radio-button" color="primary" (change)="singleBrandMultipleStore()">
                Single Brand Multiple Store Offer
              </mat-radio-button>
            </div>
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field class="col-sm-8" *ngIf="isSingleBrand">
                    <mat-select placeholder="Select Single Brand" formControlName="brandIds" name="category" (change)="showCategory()"  required>
                      <mat-option [value]="'cloths'">cloths</mat-option>
                      <mat-option [value]="'watches'">watches</mat-option>
                      <mat-option [value]="'pens'">pens</mat-option>
                    </mat-select>
                  </mat-form-field><br>
                  <mat-form-field class="col-sm-8" *ngIf="isSingleStore">
                    <mat-select placeholder="Select Single Store" formControlName="storeIds" name="category" (change)="showCategory()"  required>
                      <mat-option [value]="'cloths'">cloths</mat-option>
                      <mat-option [value]="'watches'">watches</mat-option>
                      <mat-option [value]="'pens'">pens</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field class="col-sm-8" *ngIf="isMultipleStore">
                    <mat-select placeholder="Select Multiple Stores" formControlName="storeIds"  name="category" (change)="showCategory()" multiple required>
                      <mat-option [value]="'cloths'">cloths</mat-option>
                      <mat-option [value]="'watches'">watches</mat-option>
                      <mat-option [value]="'pens'">pens</mat-option>
                    </mat-select>
                  </mat-form-field><br>
                  <mat-form-field class="col-sm-8" *ngIf="isMultipleBrand">
                    <mat-select placeholder="Select Multiple Brands" formControlName="brandIds"  name="category" (change)="showCategory()" multiple required>
                      <mat-option [value]="'cloths'">cloths</mat-option>
                      <mat-option [value]="'watches'">watches</mat-option>
                      <mat-option [value]="'pens'">pens</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-4">
                <mat-form-field>
                  <mat-select placeholder="groups - 1" formControlName="groups"  name="category" (change)="showCategory()" multiple required>
                    <mat-option [value]="'cloths'">cloths</mat-option>
                    <mat-option [value]="'watches'">watches</mat-option>
                    <mat-option [value]="'pens'">pens</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-12">
              
                <div class="col-sm-4">
                  <mat-form-field>
                    <mat-select placeholder="groups - 1" formControlName="groups"  name="category" (change)="showCategory()" multiple required>
                      <mat-option [value]="'cloths'">cloths</mat-option>
                      <mat-option [value]="'watches'">watches</mat-option>
                      <mat-option [value]="'pens'">pens</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <mat-form-field>
                    <mat-select placeholder="groups - 2" formControlName="groups"  name="category" (change)="showCategory()" multiple required>
                      <mat-option [value]="'cloths'">cloths</mat-option>
                      <mat-option [value]="'watches'">watches</mat-option>
                      <mat-option [value]="'pens'">pens</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <mat-form-field>
                    <mat-select placeholder="groups - 3" formControlName="groups"  name="category" (change)="showCategory()" multiple required>
                      <mat-option [value]="'cloths'">cloths</mat-option>
                      <mat-option [value]="'watches'">watches</mat-option>
                      <mat-option [value]="'pens'">pens</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>                
              </div>
              <div class="col-sm-12">
                <mat-form-field  class="col-sm-6"  [hideRequiredMarker]=false [floatLabel]="'auto'">
                  <input matInput formControlName="termsAndConditions" placeholder="Enter offer T&C" required>
                </mat-form-field>
              </div>
              <div class="col-sm-12">
                <div class="col-sm-4">
                  <mat-form-field>
                    <mat-select placeholder="Select Multiple Final Categories" formControlName="finalCategoryIds" name="category" (change)="showCategory()" multiple required>
                      <mat-option [value]="'cloths'">cloths</mat-option>
                      <mat-option [value]="'watches'">watches</mat-option>
                      <mat-option [value]="'pens'">pens</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-1">
                    <button mat-button mat-raised-button color="primary"> SUBMIT</button>
                  </div>
                  <div class="col-sm-3">
                    <button mat-button mat-raised-button color="primary"> CHECK FOR PRODUCTS</button>
                  </div>
              </div>
          </form>
        </div>
  
      </mat-card-content>
      <!-- <mat-divider></mat-divider> -->
      <mat-card-actions>
  
      </mat-card-actions>
  
    </mat-card>
  </div>
  