<mat-sidenav-container class="sidenav-container" style="background-color:#dadada;">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'side' : 'over'"
      [opened]="(isHandset$ | async)">
    <mat-toolbar style="background-color:  rgb(63, 81, 181);color: white">Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item  class="align-center" (click)="drawer.toggle()"  routerLink="./dashboard">DASHBOARD</mat-list-item>
      <mat-list-item  class="align-center" style="text-align:center" (click)="drawer.toggle()" routerLink="./vendor">VENDOR</mat-list-item>
      <mat-list-item  class="align-center" (click)="drawer.toggle()" routerLink="./brand">BRAND</mat-list-item>
      <mat-list-item  class="align-center" (click)="drawer.toggle()" routerLink="./store">STORE</mat-list-item>
      <mat-list-item  class="align-center" (click)="drawer.toggle()" routerLink="./attributes">ATTRIBUTES</mat-list-item>
      <mat-list-item  class="align-center" (click)="drawer.toggle()" routerLink="./product">PRODUCT</mat-list-item>
      <mat-list-item  class="align-center" (click)="drawer.toggle()" routerLink="./offer">OFFER</mat-list-item>
      <mat-list-item  class="align-center" (click)="drawer.toggle()" routerLink="./user">USER</mat-list-item>
      <mat-list-item  class="align-center" (click)="drawer.toggle()" routerLink="./review">REVIEW</mat-list-item>
      <mat-list-item  class="align-center" (click)="drawer.toggle()" routerLink="./feedback">FEEDBACK</mat-list-item>
      <mat-list-item  class="align-center" (click)="drawer.toggle()" routerLink="./customerRequest">CUSTOMER REQUEST</mat-list-item>
      <mat-list-item  class="align-center" (click)="drawer.toggle()" routerLink="./redeem">Redeem</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>amp</span> -->
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>
