<div class="margin-10">
  <mat-card style="background-color:#f5f5f5">
    <mat-card-header class="margin-10">
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group (selectedTabChange)="selectedTab($event)">
            <mat-tab label="Pending"> 
              <h3>Pending Feedbacks</h3>
            <table class="table table-border">
              <thead>
                <tr>
                  <th>SI.NO</th>
                  <th>Feedback ON</th>
                  <th>Feedback Msg</th>
                  <th>Brand Name</th>
                  <th>User Name</th>
                  <th>Feedback_id</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let feedback of feedbackList; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{feedback.createdAt | date:'d-M-y'}}</td>
                  <td>{{feedback.message}}</td>
                  <td>{{feedback.brandName}}</td>
                  <td>{{feedback.userName}}</td>
                  <td>{{feedback._id}}</td>
                    <td>
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="approve(feedback._id)">
                          <!-- <mat-icon>dialpad</mat-icon> -->
                          <span>Approve</span>
                        </button>
                        <button mat-menu-item (click)="reject(feedback._id)">
                          <!-- <mat-icon>notifications_off</mat-icon> -->
                          <span>Reject</span>
                        </button>
                      </mat-menu>
                    </td>
                </tr>
              </tbody>
            </table>
            </mat-tab>
            <mat-tab label="Approved">
                <h3>Approved Feedbacks</h3>               
                <table  class="table table-border">
                    <thead>
                      <tr>
                        <th>SI.NO</th>
                        <th>Feedback ON</th>
                        <th>Feedback Msg</th>
                        <th>Brand Name</th>
                        <th>User Name</th>
                        <th>Feedback_id</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let feedback of feedbackList; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{feedback.createdAt | date:'d-M-y'}}</td>
                        <td>{{feedback.message}}</td>
                        <td>{{feedback.brandName}}</td>
                        <td>{{feedback.userName}}</td>
                        <td>{{feedback._id}}</td>
                      </tr>
                    </tbody>
                  </table>  
            </mat-tab>
            <mat-tab label="Rejected"> 
                <h3>Rejected Feedbacks</h3>
                <table  class="table table-border">
                    <thead>
                      <tr>
                        <th>SI.NO</th>
                        <th>Feedback ON</th>
                        <th>Feedback Msg</th>
                        <th>Brand Name</th>
                        <th>User Name</th>
                        <th>Feedback_id</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let feedback of feedbackList; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{feedback.createdAt | date:'d-M-y'}}</td>
                        <td>{{feedback.message}}</td> 
                        <td>{{feedback.brandName}}</td>
                        <td>{{feedback.userName}}</td>
                        <td>{{feedback._id}}</td>
                          <td>
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                              <button mat-menu-item (click)="forceAccept(feedback._id)">
                                <!-- <mat-icon>notifications_off</mat-icon> -->
                                <span>Force Accept</span>
                              </button>
                            </mat-menu>
                          </td>
                      </tr>
                    </tbody>
                  </table>  
            </mat-tab>
          </mat-tab-group>
    </mat-card-content>
    <!-- <mat-divider></mat-divider> -->
    <mat-card-actions>

    </mat-card-actions>

  </mat-card>
</div>